<div class="card">
    <div class="table-responsive">
        <div class="table border">
            <div class="scroll card">
                <table class="table-striped">
                    <thead>
                        <tr>
                            <th class="tf" scope="col"></th>
                            <th class="tf" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each user}}
                        <tr>
                            <td scope="col">
                                <img src="https://www.gravatar.com/avatar/{{user.gravatar}}?d=wavatar" class="friend-image"> {{isFriend.firstname}} {{user.isFriend.lastname}}
                            </td>
                            <td scope="col">
                                <form class="form-horizontal" method="GET" action="/friends/{{lastname}}">
                                    <input type="submit" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true" value="View">
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>