<div class="card w-100">
    <div class="card-body">
        <h6 class="card-title" id="user-name">{{user.firstname}} {{user.lastname}}</h6>
        <img src="https://www.gravatar.com/avatar/{{user.gravatar}}?d=https://www.publicdomainpictures.net/pictures/130000/nahled/seamless-cocktails.jpg"
            class="profile-image">
        <div class="link-box">
            <div class="link-text">
                <a href="/review">DRINKS</a>
                <br/>
                <a href="/api/friend/">FRIENDS</a>
            </div>
        </div>
    </div>
</div>