<div class="card w-100">
    <div class="card-body">
        <h6 class="card-title" id="user-name">{{user.firstname}} {{user.lastname}}</h6>
        {{#unless isFriend}}
        <img src="https://www.gravatar.com/avatar/{{user.gravatar}}?d=https://www.publicdomainpictures.net/pictures/130000/nahled/seamless-cocktails.jpg"
            class="profile-image"> {{/unless}} {{#if isFriend}}
        <img src="https://www.gravatar.com/avatar/{{user.gravatar}}?d=wavatar" class="profile-image"> {{/if}}

        <div class="link-box">
            <div class="link-text">
                {{#if isFriend}}
                <a href="/dashboard">Profile</a>{{/if}}
                <br/>
                <a href="/review">Drinks</a>
                <br/>
                <a href="/api/friend/">Friends</a>
            </div>
        </div>


        <div class="row">
            {{#if isFriend}}
            <form id="place" name="place" method="post" action="/api/friend">
                {{!-- //TODO: create search function for friend --}}
                <div class="col-md-3 field-label-responsive">
                    {{#if isFriend}}
                    <label for="email">Lookup friend:</label> {{/if}}
                </div>
                <div class="col-md-6">
                    {{#if isFriend}}
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem">
                                <i class="fa fa-user"></i>
                            </div>
                            <input type="text" name="email" class="form-control" id="find-friend-email" placeholder="friend@email.val" required autofocus>
                        </div>
                    </div>
                    {{/if}}
                </div>

                <input class="btn" type="submit" value="Find Friend">
            </form>
            {{/if}}
        </div>
    </div>
</div>