<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <style>
        body {
            font-size: 12px;

        }

        input::placeholder {
            font-size: 10px;
        }

        .input-group-text {
            font-size: 10px;
            text-align: center;
        }

        h2,
        h5,
        h6 {
            text-align: center;
        }

        .scroll {
            height: 250px;
            overflow: auto;
        }

        .table-container {
            margin: 5px;

        }

        .profile-image {
            width: 100px;
            height: 100px;
            background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
            float: left;
            margin-right: 5px;
        }

        .friend-image {
            width: 50px;
            height: 50px;
            background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
            float: left;
            margin-right: 5px;

        }

        .card-title {
            padding-top: 10px;
        }

        .link-box {
            height: 100px;
            width: 100px;
            margin-left: 5px;
            float: left;
            text-align: center;
            position: relative;
        }

        .link-text {
            position: absolute;
            bottom: 40px;
            right: 0;
        }

        .card-body {
            padding: 2px;
        }

        td {
            align-content: center;
        }
    </style>
</head>

<body>
    {{{ body }}}
</body>

</html>