<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- //TODO: Needs head tag details pulled in from another page --}}
</head>

<body>
    {{!-- //TODO: Needs header pulled in from another page --}}
    <header></header>
    {{{ body }}}
</body>

</html>