<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>Add Place</title>
</head>

<body>

    {{!-- //TODO: Fix fields for Drink ingredients --}}
    <form id="place" name="place" method="post" action="/api/part">

        <!-- //TODO: This should display the found Drink info - assume a handlebars object "drinks" with drinkname, location, and id.
        -->Drink Name here:

        <input name="drinkId" type="hidden" value="this will be handlebars drink.id" /> {{!-- //TODO: This needs to search the cocktaildb for ingredients and add them to an array... the array can then
        be displayed as a list. --}}
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="search for ingredient" aria-label="Search" id="find-ingredient">
        </form>

        <input class="btn" type="submit" value="Add to drink" />
    </form>
</body>

</html>