<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    TODO: Fix fields for Friends
    <form id="place" name="place" method="post" action="/api/friend">
        Lookup friend: (TBD)

        <label for="friendId">FriendId</label>
        <input class="text" name="friendId" type="text" />

        <input class="btn" type="submit" value="Submit" />
    </form>

</body>

</html>