 {{!-- //TODO: Fix fields for Ingredients --}}
<form id="place" name="place" method="post" action="/api/ingredient">

    <label for="ingredientName">What is the ingredient?</label>
    <input class="text" name="ingredientName" type="text" />

    <!-- //TODO: This should be a drop-down - assume you will have a handlebars help for "categories" with "categories.general", "categories.specific" and "categories.id"
        -->
    <label for="categoryId">What kind of ingredient?</label>
    <input name="categoryId" type="dropdown" />

    <label for="isAlcoholic">Is it alcoholic?</label>
    {{!-- //TODO: This needs to be a checkbox - true/false --}}
    <input class="text" name="isAlcoholic" type="checkbox" />

    <label for="isCustom">Is it custom made?</label>
    {{!-- //TODO: This needs to be a checkbox - true/false --}}
    <input class="text" name="isCustom" type="checkbox" />

    <input class="btn" type="submit" value="Submit" />
</form>