<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>Drink With Me!</h2>
            <hr>
        </div>
    </div>
</div>
<div class="container">
    <div class="card w-100">
        <div class="card-body">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="search for drink" aria-label="Search">
            </form>
            <h6 class="card-title" id="user-name">User Name</h6>
            <img href="#" class="profile-image">
            <div class="link-box">
                <div class="link-text">
                    <a href="user-profile.html">MY PROFILE</a>
                    <br/>
                    <a href="drink-reviews.html">MY DRINKS</a>
                    <br/>
                    <a href="find-add-friend.html">FRIENDS</a>
                </div>
            </div>
        </div>
    </div>
</div>