 {{!-- //TODO: create search function for friend --}} Lookup friend: (TBD) {{!-- //TODO: hide this until it can be populated
by a found friend --}}
<form id="place" name="place" method="post" action="/api/friend">

    <!-- //TODO: This should display the found friend info - assume a handlebars object "friends" with firstname, lastname, email, and id; form should only show the last initial and a partially hidden email address..
        -->Friend Name here:

    <input class="hidden" name="friendId" type="text" value="this will be handlebars friend.id" />

    <input class="btn" type="submit" value="Add Friend">
</form>