 {{!-- //TODO: Fix fields for Reviews --}}
<form id="review" name="review" method="post" action="/api/review">

    <!-- //TODO: This should display the found Drink info - assume a handlebars object "drinks" with drinkname, location, and id.
        -->Drink Name here:
    <!-- /TODO: this will hold the handlebars drink.id -->
    <input name="drinkId" type="hidden" value=1 /> {{!-- //TODO: This needs to be a selectable rating scale 1 to 5 stars, numeric values will need to post back --}}
    <label for="rating">Rating</label>
    <input class="text" name="rating" type="text" /> {{!-- //TODO: This needs to be larger text box - maybe with min length of 25 and max length of 500 characters --}}
    <label for="review">Review:</label>
    <input name="review" type="textbox" />

    <input class="btn" type="submit" value="Submit" />
</form>