<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <form id="place" name="place" method="post" action="/api/place">

        <label for="placeName">Name the place:</label>
        <input class="text" name="placeName" type="text" />

        <label for="type">What type of place is it?</label>
        <input name="type" type="text" />

        <label for="isPrivate">Is this private property?</label>
        <input name="isPrivate" type="text" />

        <input class="btn" type="submit" value="Sign Up" />
    </form>

</body>

</html>