<!DOCTYPE html>
<html>

<head>
    <title>Passport with Sequelize</title>
</head>

<body>
    <h2>Dashboard</h2>
    <h5>Hurray! you are logged in.</h5>


    <a href="/">root</a>

    <a href="/dashboard">dashboard</a>
    <a href="/signin">sign-in</a>
    <a href="/signup">sign-up</a>

    <hr>
    <a href="/drink">drinks</a>
    <a href="/ingredient">ingredients</a>
    <a href="/friend">friends</a>
    <a href="/place">places</a>
    <a href="/review">reviews</a>

    <hr>
    <a href="/drink/add">add-drink</a>
    <a href="/friend/add">add-friend</a>
    <a href="/ingredient/add">add-ingredient</a>
    <a href="/place/add">add-place</a>
    <a href="/review/add">add-review</a>

    <hr>
    <a href="/place/find">find place</a>
    <a href="/drink/find">find drink</a>
    <a href="/friend/find">find friend</a>
    <a href="/ingredient/find">find ingredient</a>
    <a href="/review/find">find review</a>


</body>

</html>