<div class="table-container-fluid border">
    <div class="scroll">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" id="location">Location</th>
                    <th scope="col" id="drinks">Drinks</th>
                </tr>
            </thead>
            <tbody>
                {{#each drinks}}
                <tr>
                    <th scope="row">{{drinkName}}</th>
                    <td>{{drinkId}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</div>