<!DOCTYPE html>
<html lang="en">

<head>
    <title>New User Sign-Up</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Drink With Me!</h2>
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card w-100">
            <div class="card-body">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="search by email to add friend" aria-label="Search">
                </form>
                <h6 class="card-title" id="user-name">User Name</h6>
                <img href="#" class="profile-image" id="user-image">
                <div class="link-box">
                    <div class="link-text">
                        <a href="/user-profile">MY PROFILE</a>
                        <br/>
                        <a href="/reviews">DRINKS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-container-fluid border">
        <div class="scroll">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {{#each friends}}
                        <td scope="col">
                            <img href=( {{friendImage}}) class="friend-image">
                        </td>
                        <td scope="col">
                            ({{friendName}})
                        </td>
                        <td scope="col">
                            <a href=({{friendProfile}}) class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">View</a>
                        </td>
                        {{/each}}
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>