<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>Drink With Me!</h2>
            <hr>
        </div>
    </div>
</div>
<div class="container">
    <div class="card w-100">
        <div class="card-body">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="search by email to add friend" aria-label="Search">
            </form>
            <h6 class="card-title" id="user-name">User Name</h6>
            <img href="#" class="profile-image" id="user-image">
            <div class="link-box">
                <div class="link-text">
                    <a href="user-profile.html">MY PROFILE</a>
                    <br/>
                    <a href="drink-reviews.html">DRINKS</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="table-container-fluid border">
    <div class="scroll">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col">
                        <img href="#" class="friend-image">
                    </td>
                    <td scope="col">
                        User Name
                        </br>
                    </td>
                    <td scope="col">
                        <a href="#" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>