<div class="table-container-fluid border">
    <div class="scroll">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" id="location">Ingredient</th>
                    <th scope="col" id="drinks"></th>
                </tr>
            </thead>
            <tbody>
                {{#each ingredients}}
                <tr>
                    <th scope="row">{{ingredientName}}</th>
                    <td>{{ingredientId}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</div>