<div class="table-container-fluid border">
    <div class="scroll">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" id="drinks">Drinks</th>
                </tr>
            </thead>
            <tbody>

                {{#each drinks}}
                <tr>
                    <td>({{drinkName}})</td>
                    <td>({{myRating}})</td>
                    <td>({{avgRating}})</td>
                    <td>
                        <link id=({{drinkId}})>Click to view</link>
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>

</div>
<form class="form-horizontal" method="GET" action="/drink/add">
    <button class="btn btn-sm" type="submit">Add Drink</button>
</form>
<form class="form-horizontal" method="GET" action="/place/add">
    <button class="btn btn-sm" type="submit">Add Place</button>
</form>