<form class="form-horizontal" role="form" onsubmit="Validate();" method="POST" action="/signup">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="neon">Drink With Me!</h2>
            <h5>New User Registration</h5>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <p>Already a member?
                <a href="/signin" style="color:aquamarine">SIGN IN</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label for="firstname">First Name</label>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem">
                        <i class="fa fa-user"></i>
                    </div>
                    <input type="text" name="firstname" class="form-control" id="new-user-firstname" placeholder="John" required autofocus>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-control-feedback">
                <span class="text-danger align-middle" id="firstname_error">
                    <!-- Put name validation error messages here -->
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label for="lastname">Last Name</label>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem">
                        <i class="fa fa-user"></i>
                    </div>
                    <input type="text" name="lastname" class="form-control" id="new-user-lastname" placeholder="Doe" required autofocus>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-control-feedback">
                <span class="text-danger align-middle" id="lastname_error">
                    <!-- Put name validation error messages here -->
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label for="email">E-Mail Address</label>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem">
                        <i class="fa fa-at"></i>
                    </div>
                    <input type="email" name="email" class="form-control" id="new-user-email" placeholder="you@example.com" required autofocus>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-control-feedback">
                <span class="text-danger align-middle" id="email_error">
                    <!-- Put e-mail validation error messages here -->
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label for="password">Password</label>
        </div>
        <div class="col-md-6">
            <div class="form-group has-danger">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem">
                        <i class="fa fa-key"></i>
                    </div>
                    <input type="password" name="password" class="form-control" id="new-user-password" placeholder="Password" required>
                    <div id="password_error"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-control-feedback">
                <span class="text-danger align-middle" id="password_error">

                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label for="password">Confirm Password</label>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem">
                        <i class="fa fa-repeat"></i>
                    </div>
                    <input type="password" name="password-confirmation" class="form-control" id="password-confirm" placeholder="Password" required>
                    <div id="repassword_error"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-control-feedback">
                <span class="text-danger align-middle" id="repassword_error">

                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <p>By registering for the service(s) by and within the Drink With Me application, I hereby vertify that I am of
                legal drinking age within my location of residence, and that there are no other legal restriction which would
                prevent me from doing so.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input"> I do certify
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <button type="submit" id="submit" class="btn btn-success">
                <i class="fa fa-user-plus"></i> Register</button>
        </div>
    </div>
</form>
<script type="text/javascript" src="../assets/js/signup.js"></script>