
body {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    background: rgb(247, 243, 237) url(/assets/images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


input::placeholder {
    font-size: 10px;
}

.input-group-text {
    font-size: 10px;
    text-align: center;
}

h2, 
h5,
h6 {
    text-align: center;
}

.scroll {
    height: 250px;
    overflow: auto;
}

.table-container {
    margin: 5px;
    background:rgb(240, 213, 157);
    padding: 10px;
}

.profile-image {
    width: 100px;
    height: 100px;
    background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
    float: left;
    margin-right: 5px;
}

.friend-image {
    width: 50px;
    height: 50px;
    background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
    float: left;
    margin-right: 5px;

}

.card-title {
    padding-top: 10px;
}

.link-box {
    height: 100px;
    width: 100px;
    margin-left: 5px;
    float: left;
    text-align: center;
    position: relative;
}

.link-text {
    position: absolute;
    bottom: 15px;
    right: 0;
    font-size: 19px;
}

.card-body {
    padding: 5px;
    background: rgb(240, 213, 157);
}

td {
    align-content: center;
}

.form-inline{
    float: right;

}


button {
    border: 1px solid black !important;
    border-radius: 2cm !important;
    float: left; 
    background: burlywood;
}
  
.neon {
    font-family: neon;
  color: #FB4264;
  font-size: 5vw;
  line-height: 5vw;
  text-shadow: 0 0 3vw #F40A35;
}
.neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
  }
  
  @keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
}
