body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    background: rgb(92, 51, 17) url(/assets/images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1 {
    text-align: center !important;
}

.card {
    width: 100% !important;
    background: rgb(240, 213, 157);  
}

.table {
    width: 100% !important;
    background: rgb(240, 213, 157) !important;
    color:rgb(139,69,19);
    overflow-y: hidden;
}

.th, td {
    width: 25%; 

}

.tf {
    width: 50%;
}

input::placeholder {
    font-size: 15px;
    color: rgb(100, 100, 100);
}

.input-group-text {
    font-size: 10px;
    text-align: center;
}

h2,
h5,
h6 {
    text-align: center;
}

.scroll {
    height: 250px;
    overflow: auto;
}

.main {
    width: 100%;
    height: 100%; 
}


.table-container-fluid {
    margin: 5px;
    /* background: rgb(240, 213, 157); */
    padding: 10px;
}

.profile-image {
    width: 100px;
    height: 100px;
    background: no-repeat scroll 0 0;
    padding: 5px; 
}

.friend-image {
    width: 50px;
    height: 50px;
    background: no-repeat scroll 0 0;
    float: left;
    margin-right: 5px;
}

.drink-image {
    width: 15%; 
}


.card-title {
    font-size: 35px; 
    color: black;
} 

.card-body {
    padding: 5px;
    background: rgb(240, 213, 157);
}


td {
    align-content: center;
}

a, #place {
    color:rgb(139,69,19);
}

#place {
    font-size: 20px; 
}

button {
    border: 1px solid black;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    float: left; 
    cursor: pointer;
    background-image: linear-gradient(to right, #D6A587 0%, #EAD1C1 51%, #D6A587 100%);
}

.btn {
    border: 1px solid black;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-image: linear-gradient(to right, #D6A587 0%, #EAD1C1 51%, #D6A587 100%);
    font-size: 16px;
}

.neon {
    font-family: neon;
    color: #FB4264;
    text-shadow: 0 0 3vw #F40A35;
}

.neon {
    animation: neon;
    -moz-animation: neon;
    -webkit-animation: neon;
    animation-duration: 4s; 
    animation-iteration-count: infinite;
}

@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
        color: #FED128;
    }
    50% {
        text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
        color: #806914;
    }
}

.beta{
    font-size: 20px; 
    align-content: center;
}

.signin {
    font-size: 15px; 
}


.input-group {
    width: 75% !important; 
}

.register {
    align-content: center;
    padding: 10px; 
}

.link {
    width: 100%;
    margin: auto; 
    font-size: 20px; 
}

.link:hover {
    color: #F1E1D7; 
}

.drink-input {
    width: 100%;
    margin: auto; 
    padding: 5px; 
}

label {
    padding: 5px; 
}

.btn-secondary {
    width: 100%;
}


